<header>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

   <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>

   <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">

</header>

<body>

    <p> </p>

    <h2> The map should be below</h2>

    <div id="map"></div>

    <p>"{{url_for('static', filename = 'shp_files/bar')}}"</p> 

    <p id = "latlondoc"> Click on the map to see the lat and lon</p>

    <p id = "demo"> here is my automatic latlon</p>
    <button onclick="getLocation()">Click to get your device's location</button>

    <script>
        var map = L.map('map').setView([52.507401, 13.385731], 13);
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        let var_names = ["art_centres","bar","biergarten","cafe","cinema"]
        let colors = ["blue","red","yellow","green","orange"]
        let color_codes = ["#0000FF","#0000FF","#0000FF","#0000FF","#0000FF"]

        for (let i = 0; i < var_names.length; i++) {
            shp( "http://127.0.0.1:5000/" + "{{url_for('static', filename = 'shp_files/')}}" + var_names[i] ).then(function(geojson){
                var myStyle = {
                    "color": colors[i],
                    "weight": 10,
                    "opacity": 1
                };
                L.geoJSON(geojson, {
                    style: myStyle
                }).addTo(map)
            })
        }

        var legend = L.control({position: 'bottomleft'});
        legend.onAdd = function (map) {
            
            var div = L.DomUtil.create('div', 'info legend');
            labels = ['<strong>Categories</strong>'],
            categories = ['art_centres','bar','biergarten','cafe','cinema'];

                for (var i = 0; i < categories.length; i++) {
                    div.innerHTML +=
                    '<i class = "circle" style="background:' + colors[i] + '"></i> ' +
                    (categories[i] ? categories[i] + '<br>' : '+');
                }

            return div;
        };
        legend.addTo(map);

        map.on('click', function(e) {
            //alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
            var lat = e.latlng.lat
            var lon = e.latlng.lng
            console.log("here is my lat " + lat + " and here is my lon " + e.latlng.lng)

            document.getElementById("latlondoc").innerHTML = "here is my lat " + lat + " here is my lon " + lon;
        });


    
    </script>


<script>
    var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
    }
</script>




</body>